@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
    margin: 0;
    padding:0;
}
@layer components{
    .sidebar-icon{
        @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-800 
        rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear text-green-500
        hover:bg-green-600 hover:text-white
        cursor-pointer
    }
    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14
        rounded-md shadow-md
        bg-gray-900
        text-white
        text-xs font-bold
        transition-all duration-200 scale-0 origin-left
    }
}